body {
  font-family: Poppins;
}

h1 {
  color: #005f69;
  font-size: 35px;
  margin-bottom: 0;
  font-weight: bold;
}
ul {
  margin-left: 0;
  padding: 0;
  color: #454b1b;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #454b1b;
}
li:first-letter {
  text-transform: capitalize;
}
small {
  display: block;
  text-align: center;
  margin: 0;
  color: #148f77;
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weather-app {
  max-width: 600px;
  margin: 40px auto;
  padding: 40px;
  border: 1px solid #add8e6;
  border-radius: 15px;
  background-color: #f5f5dc;
}
.github-link {
  text-decoration: none;
}
.overview {
  margin-bottom: 20px;
}
.weather-temperature img {
  margin-right: 10px;
  height: 64px;
  width: 64px;
}
.weather-temperature strong {
  font-size: 64px;
  color: #148f77;
  line-height: 1;
}
.weather-temperature .units {
  position: relative;
  font-size: 16px;
  margin-left: 10px;
}
.fahrenheit {
  text-decoration: none;
}
.other-info {
  margin-left: 80px;
}
.search-button {
  border-radius: 15px;
}
.form-control {
  border-radius: 20px;
  text-align: center;
}
.weather-temperature .active {
  color: #454b1b;
  cursor: default;
}
.weather-temperature .active:hover {
  text-decoration: none;
}
.active {
  text-decoration: none;
}
.f-link {
  text-decoration: none;
}
.weather-forecast {
  margin-top: 40px;
  text-align: center;
  color: #005f69;
}

.weather-forecast-date {
  font-size: 15px;
  opacity: 0.8;
  font-weight: bold;
}
.weather-forecast-temperature {
  font-size: 13px;
}
.weather-temp-min {
  opacity: 0.6;
}
