body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: #005f69;
  font-size: 30px;
  margin-bottom: 0;
  font-weight: bold;
}
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}
li:first-letter {
  text-transform: capitalize;
}
small {
  display: block;
  text-align: center;
  margin-block: 10px;
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weather-app {
  max-width: 600px;
  margin: 40px auto;
  padding: 40px;
  border: 1px solid #add8e6;
  border-radius: 15px;
  background-color: #f5f5dc;
}
.github-link {
  text-decoration: none;
}
.overview {
  margin-bottom: 20px;
}
.weather-temperature img {
  margin-right: 10px;
  height: 64px;
  width: 64px;
}
.weather-temperature strong {
  font-size: 64px;
  color: #148f77;
  line-height: 1;
}
.weather-temperature .units {
  position: relative;
  font-size: 16px;
  margin-left: 10px;
}
.fahrenheit {
  text-decoration: none;
}
